pandas
numpy
matplotlib
seaborn
jupyter
ipykernel
statsmodels
linearmodels
xgboost
scikit-learn
mlflow
optuna
fastapi
uvicorn[standard]
pydantic
streamlit
plotly
joblib
pytest
requests
openpyxlxgboost
mlflow
optuna
